<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SchoolManagmentSystem</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  
 <error-page>  
  <exception-type>java.lang.Exception</exception-type>  
  <location>/error.jsp</location>  
  </error-page>  
   

  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.learnersacademy.servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.learnersacademy.servlet.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageSubject</display-name>
    <servlet-name>ManageSubject</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageSubject</servlet-name>
    <url-pattern>/subject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageClasses</display-name>
    <servlet-name>ManageClasses</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageClasses</servlet-name>
    <url-pattern>/classes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTeacher</display-name>
    <servlet-name>ManageTeacher</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTeacher</servlet-name>
    <url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStudent</display-name>
    <servlet-name>ManageStudent</servlet-name>
    <servlet-class>com.learnersacademy.servlet.ManageStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStudent</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClass</display-name>
    <servlet-name>UpdateClass</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClass</servlet-name>
    <url-pattern>/UpdateClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubject</display-name>
    <servlet-name>UpdateSubject</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubject</servlet-name>
    <url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacher</display-name>
    <servlet-name>UpdateTeacher</servlet-name>
    <servlet-class>com.learnersacademy.servlet.UpdateTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacher</servlet-name>
    <url-pattern>/UpdateTeacher</url-pattern>
  </servlet-mapping>
</web-app>